[Desktop Entry]
Version=1.0
Name=MidiEditor
Comment=MIDI Editor
Exec=midieditor
Icon=midieditor
Terminal=false
Type=Application
Categories=AudioVideo;Audio;
Name[de_DE]=MidiEditor
Comment[de_DE.utf8]=Midi Editor
